<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="main-section">
        {{>header}}
        <p>This site was created by Joanna Foss. It uses data from mapbox.com and weatherstack.com.</p>
        <img class="portrait" src="/img/265726859_10159887830723921_6134532368195905914_n.jpg">
    </div>

    {{>footer}}
</body>
</html>