<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="main-section">
        {{>header}}
        <p>{{location}}</p>
        <p>{{description}}</p>
        <p>{{temperature}}</p>
        <p>{{feels_like}}</p>
    </div>

    {{>footer}}
</body>

</html>