<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="main-section">
        {{>header}}
        <p>This is the {{title}} of the weather app!</p>
    </div>

    {{>footer}}
</body>
</html>