<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="main-section">
        {{>header}}

        <p>Search below for a brief description of the weather in any location of your choosing.</p>
        <form>
            <input placeholder="Please enter a location">
            <button type="submit">Search</button>
        </form>
        <div id="display-weather">
            <img src="" id="weather-icon">
            <h4 id="location"></h4>
            <p id="description"></p>
        </div>
    </div>

    {{>footer}}

<script src="/js/app.js"></script>
</body>

</html>