<header>
    <nav>
        <span>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
        </span>
    </nav>
    <h1>{{title}}</h1>
</header>