body {
    color: #333;
    font-family: 'Assistant', sans-serif;
    font-size: medium;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    margin: 20px 0;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;
}

nav span a {
    color: #777;
    margin-right: 20px;
    text-decoration: none;
    padding: 4px;
}

nav span a:hover {
    color: #fff;
    background-color: #777;
    border-radius: 5%;
    border: 1px solid #666;
    padding: 4px;
}

.portrait {
    float: right;
    min-width: 100px;
    max-width: 250px;
    height: auto;
    border-radius: 10%;
    margin: 1em;
}

.main-section {
    flex-grow: 1;
}

input {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 5em;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    color: #fff;
    padding: 10px;
}

.sig {
    font-family: 'Kaushan Script', cursive;
}

#location {
    font-weight: bold;
    margin: 1px 0;
}

img {
    float: left;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5%;
}

#display-weather {
    margin-top: 20px;
    padding: 5px 0;
}